<tr>
<td valign="top" style="width:540px;"><table width="540" border="0" cellspacing="0" cellpadding="0" class="em_wrapper" style="width:540px;">
<tr>
<td valign="top" class="em_hide" align="left" width="65" style="width:65px;"><table width="65" border="0" cellspacing="0" cellpadding="0" align="left" style="width:65px;">
    <tr>
      <td valign="top" style="width:65px;">
        <!-- ICON -->
        <img src="{{ article_icon }}" width="65" height="65" style="display:block;font-family:Arial, sans-serif; font-size:13px; line-height:20px; color:#000000; font-weight:bold;width:65px;" border="0" alt="">
      </td>
    </tr>
  </table></td>
<td width="12" style="width:12px;">&nbsp;</td>
<td valign="top" style="width:463px;"><table width="463" border="0" cellspacing="0" cellpadding="0" class="em_wrapper" style="width:463px;">
    <tr>
      <td align="left" style="font-family:Arial, sans-serif; font-size:16px; line-height:20px; color:#000000; font-weight:bold;width:463px;" class="em_black">
        <!-- HEADLINE -->
        {{ article_headline }}
      </td>
    </tr>
    <tr>
      <td align="left" style="font-family:Arial, sans-serif; font-size:13px; line-height:17px; color:#000000;width:463px;" class="em_black1 copywithcta">
        <!-- COPY -->
        <p>{{ article_copy }}</p>
      </td>
    </tr>
    <tr>
      <td height="8" style="font-size:1px; line-height:1px;">&nbsp;</td>
    </tr>
    {{ article_ctas }}
  </table></td>
</tr>
</table></td>
</tr>
