<tr>
  <td valign="top"><table width="510" align="center" cellpadding="0" cellspacing="0" border="0" class="em_wrapper" style="width:510px;">
      <tr>
        <td valign="top" align="left" width="15"><img src="http://images.seemore.zebra.com/EloquaImages/clients/ZebraTechnologiesCorp/{374193ee-474d-4d1f-bc1b-dc13c4c19796}_black-arrow_10x16.png" width="10" height="16" style="display:block;" border="0" alt=""></td>
        <td valign="top" align="left" style="font-family:Arial, sans-serif; font-size:13px; line-height:20px; color:#000000;">
          {{ quick_link_title }}.
          <a href="{{ quick_link_url }}" target="_blank" style="text-decoration:underline; color:#000000;">{{ quick_link_cta }}</a>
        </td>
      </tr>
    </table></td>
</tr>
